[Unit]
Description=KCLF Control Pod
After=network-online.target local-fs.target dev-ttyUSB0.device dev-i2c-1.device
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/control_pod
ExecStart=/home/pi/control_pod/env/bin/python /home/pi/control_pod/main.py
Restart=always
RestartSec=5
StandardOutput=append:/home/pi/logs/controlpod_service.log
StandardError=append:/home/pi/logs/controlpod_service.log
Environment="PYTHONUNBUFFERED=1"
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target

